@media only screen and (max-width: 1440px) {
	
	/* Site Header
  	-------------------------------------- */
  	.site-inner,
  	.wrap {
    	max-width: 1150px; 
	}
	
	.site-inner {
	    padding-top: 238px;
	}

	.title-area {
    	padding: 20px 0 20px; }

	.site-title a, .site-title a:hover {
    	width: 200px;
    	height: 77px; }

  	/* Structure layout
  	-------------------------------------- */
  	/* ### Content */
  	.content {
    	@include structure(770, 1150); 
	}

  	/* ### Primary Sidebar */
  	.sidebar-primary {
    	@include structure(340, 1150); 
	}
	
	/* Grid
	-------------------------------------- */
	
	.coll2 {
		@include grid(2, 40, 1150);
	}
	.coll3 {
		@include grid(3, 40, 1150);
	}
	.coll4 {
		@include grid(4, 40, 1150);
	}
	.coll5 {
		@include grid(5, 40, 1150);
	}
	.coll6 {
		@include grid(6, 40, 1150);
	}
	.coll7 {
		@include grid(7, 40, 1150);
	}
	.coll8 {
		@include grid(8, 40, 1150);
	}
	.coll9 {
		@include grid(9, 40, 1150);
	}
	.coll10 {
		@include grid(10, 40, 1150);
	}
	.coll11 {
		@include grid(11, 40, 1150);
	}
	.coll12 {
		@include grid(12, 40, 1150);
	}
	
	/* Footer Widgets
	--------------------------------------------- */
	
	.footer-widgets .widget-area {
		@include grid(3, 40, 1150);
	}
	
	/* Default Content Grid
	--------------------------------------------- */
	.coll_content {
		@include structure(770, 1150);
	}
	.coll_sidebar {
		@include structure(340, 1150);
	}

	/* ### With Sidebar */
	.content-sidebar .coll2{
		@include grid(2, 40, 770);
	}
	.content-sidebar .coll3{
		@include grid(3, 40, 770);
	}
	.content-sidebar .coll_content,
	.content-sidebar .coll_sidebar {
		@include structure(365, 770);
	}

  	/* Home page layout
  	-------------------------------------- */
  	.home-image .wrap {
   		margin-top: 145px;
   		padding: 40px 0;
    	max-width: 768px; }

  	.home-image .wrap h1 {
	 	@include font(4.6, 4.6);
    	margin-bottom: 20px; }

  	.home-image .wrap p {
	 	@include font(2, 2.2);
    	margin-bottom: 20px; }

  	.home.full-width-content .content .entry-content {
    	max-width: 1150px; }

  	/* ### event */
  	.event-table {
    	@include structure(770, 1150); }

  	/* ### featured event */
  	.event-featured {
    	@include structure(340, 1150); }
	
	/* Home page layout
  	-------------------------------------- */
	.events .event-table {
  		float: right;
  		@include structure(555, 1150); 
	}
	
	.events article.entry {
		float: left;
  		@include structure(555, 1150); 
	}

}