/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Featured image
--------------------------------------------- */


.gradient {

background: -moz-linear-gradient(top, rgba(0,0,14,1) 0%, rgba(0,0,14,0) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top, rgba(0,0,14,1) 0%,rgba(0,0,14,0) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom, rgba(0,0,14,1) 0%, rgba(0,0,14,0.7) 60%, rgba(0,0,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000e', endColorstr='#000000e',GradientType=0 ); /* IE6-8 */



    display: table;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
	height:100%;
}

.image-section {
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	min-height:233px;
}

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.content .entry {
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: $color-black;
	color: $color-white;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	@include font(1.6, 2.4);
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid $color-background;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: $color-black;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	@include font(1.6, 2.4);
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
	background-color: $color-primary-one;
	text-decoration: underline;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: $color-white;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;
}

.comment-header {
	@include font(1.6, 2.4);
}

li.comment {
	background-color: $color-background;
	border: 2px solid $color-white;
	border-right: 0;
}

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: $color-background;
	@include font(1.6, 2.4);
	padding: 24px;
}