/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: tint($color-primary-one, 10%);
	color: $color-white;
	@include font(1.0, 1.4);
	padding: 10px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}